SUPABASE_URL=https://ckxjuiikjtdnrdulmnfg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNreGp1aWlranRkbnJkdWxtbmZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2OTc3OTcsImV4cCI6MjEwNjI3Mzc5N30.iGu2kGd6Y9yF0kR-00s4ccXy8B9G1sS4k03YZtsSfkY
